@media screen and (max-width:320px){
    body{ 
        background-color: rgb(95, 192, 209);
    }
    .logo{
        text-align: center;
    }  
    button{
        width: 95px;
        flex-direction: row-reverse;
    }   
    .div1{
        width: 294px;
        height: 90px;
        background-color: rgb(8, 109, 139);
        margin: 5px;
        border-radius: 5px;
    }
    .div2{
        width: 294px;
        height: 90px;
        background-color: rgb(8, 109, 139);
        margin: 5px;
        border-radius: 5px;
    }
    .div3{
        width: 294px;
        height: 90px;
        background-color: rgb(8, 109, 139);
        margin: 5px;
        border-radius: 5px;
    }
    .tudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (min-width: 321px) and (max-width: 600px) {
    body{ 
        background-color: rgba(189, 59, 182, 0.726);
    }
    .logo{
        justify-content: space-between;
        display: flex;
    }  
    button{
        width: 92px;
        height: 25px;
        margin-top: 27px;
    }   
    .div1{
        width: 452px;
        height: 90px;
        background-color: rgba(139, 8, 95, 0.74);
        margin: 5px;
        border-radius: 5px;
        
    }
    .div2{
        width: 294px;
        height: 90px;
        background-color: rgb(139, 8, 95, 0.74);
        margin: 5px;
        border-radius: 5px;
        
    }
    .div3{
        width: 294px;
        height: 90px;
        background-color: rgb(139, 8, 95, 0.74);
        margin: 5px;
        border-radius: 5px;
        
    }
    .divs{
        display: flex;

    }
}